*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1em = 10px */
}
h1, h2{
    font-family: "Outfit", sans-serif;
    font-size: 6.4rem;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: normal;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    --main:#036230;
    --sub-main:#A0C239;
    --cream:#FFFAE9;
    --white:#fff;
    --black:#0B0B0B;
    
    padding: 0px 187px;
    background-color: var(--main);
}

/* ============================================================= */
header{
    color: var(--white);
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100vh;
    
        display: flex;
        justify-content: space-between;

        h2{
            font-size: 2rem;
            color: var(--black);
        }

        & .first{
            padding-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 63rem;
            height: 100vh;
            gap: 7rem;
                
                & .nav-first{
                    width: 100%;
                    height: 10rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 12.4rem;
                        & #logo{
                            width: 10rem;
                        }
            
                        & #menu{
                            width: 32rem;
                            display: flex;
                            justify-content:space-between;
                            font-size: 1.6rem;
                        }
                }

                & .head{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;

                    & .hero-details{
                        width: 100%;
                        height: 20.5rem;
                        padding: 2rem 0;

                        & .heading{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }

                    & .cta-button{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 2.1rem;
                        background-color: var(--cream);
                        width: 16.4rem;
                        height: 3.3rem;
                        border-radius: 0.47rem;

                        & h2{
                            font-size: 1.2rem;
                            font-weight: normal;
                            color: var(--main);
                        }
                    }
                }
        }

        & .mid{
            height: 78.7rem;
            width: 25.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            background-color: var(--sub-main);

            & .product-wheel{
                position: relative;
                bottom: 23%;

                & #americanherbs{
                    position: relative;
                    bottom: 12%;
                }

                & #rawjack{
                    position: relative;
                    top: 6%;
                }
                & .prod{
                    width: 25.2rem;
                }
            }
        }

        & .last{
            padding-top: 1.5rem;
            width: 18.2rem;
            height: 100vh;
            
            & .nav-last{
                width: 100%;
                height: 10rem;
                display: flex;
                align-items: center;

                padding-left: 3.8rem;
                & #access-icons{
                    width: 12.4rem;
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                }
            }

            & .callToAction{
                height: 70%;
                width: 100%;
                
                display: flex;
                justify-content: center;
                    align-items: center;
                
                & .button-carrier{
                    height: 30rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    & .arrow{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100%;
                        background-color: var(--cream);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        & #top-arrow{
                            transform: rotate(-90deg);
                        }
                        & #bottom-arrow{
                            transform: rotate(90deg);
                        }
                    }
    
                    & .pop-up{
                        width: 16.5rem;
                        height: 12.9rem;
                        color: var(--black);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        & .popup-data{
                            width: 100%;
                            height: 10.5rem;
                            background-color: var(--cream);
                            border-radius: 0.9rem;
                            padding:1.1rem 1.1rem 2.2rem 1.1rem;
                            
                            & #prod-title{
                                font-size: 2rem;
                            }
                            & #prod-prize{
                                font-size: 1.2rem;
                            }
    
                            & .prod-descrip{
                                display: flex;
                                justify-content: space-between;
    
                                & .rating{
                                    width: 1.46rem;
                                }
                            }
                        }
    
                        & .plus{
                            width: 2.4rem;
                            height: 2.4rem;
                            background-color: var(--cream);
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                            border: 0.25rem solid var(--main);
                            position: absolute;
                            bottom: 39.8%;
    
                            & #plus{
                                width: 15rem;
                            }
                        }
                    }
                }
            }
        }
    
    
}

/* ===========================RECIPE PAGE================================== */

#recipes{
    width: 106.457rem;
    height: 67rem;
    margin-top: 100px;
}
#recipe-logo{
    width: 30.2rem;
    height: 7.02rem;
    
}   
#recipe-logo img{
    width: 100%;
    height: 100%;
}

#logo_text{
    /* width: 22.9rem; */
    height: 2.1rem;

}

#logo_text p{
    /* width: 100%; */
    height: 100%;
    font-family:Roboto;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--cream);
}
#recipe_card{
    /* padding: 0 0; */

    width: 106.457rem;
    height: 57.88rem;
    display: flex;
    margin-top: 7.5rem;
    gap: 2.83rem;
}

#recipe_card1{
    position: relative;
    width: 32.65rem;
    height: 42.12rem;
    background-color: transparent;
}
#image1{
    position: absolute;
    width: 27.9rem;
    height: 23.5rem;
    /* background-color: var(--white); */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#anime1{
    position: absolute;
    width: 32.6rem;
    height: 35.1rem;
    background-color: var(--sub-main);
    bottom: 0;
    z-index: 0;
    transition:height 0.3s, background-color 0.3s;
    -webkit-transition:height 0.3s, background-color 0.3s;
    -moz-transition:height 0.3s, background-color 0.3s;
    -ms-transition:height 0.3s, background-color 0.3s;
    -o-transition:height 0.3s, background-color 0.3s;
}

#text_part1{
    position: absolute;
    width: 32.7rem;
    height: 18.5rem;
    /* background-color: var(--black); */
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2.4rem;
}
#foodname_1 p{
    width: 27.9rem;
    height: 3.5rem;
     font-family: Outfit; 
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.528rem;
    text-align: left;
    /* color: var(--white); */

}
#foodtime_1{
    display: flex;
    justify-content: space-between;
    /* gap: 0.2rem; */
}

#serve_2 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
    
}

#prep_min2 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
}

#recipe_card2{
    position: relative;
    width: 32.65rem;
    height: 42.12rem;
    background-color: transparent;
}


#image2{
    position: absolute;
    width: 27.9rem;
    height: 23.5rem;
    /* background-color: var(--white); */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#anime2{
    position: absolute;
    width: 32.6rem;
    height: 35.1rem;
    background-color: var(--sub-main);
    bottom: 0;
    z-index: 0;
    transition:height 0.3s, background-color 0.3s;
    -webkit-transition:height 0.3s, background-color 0.3s;
    -moz-transition:height 0.3s, background-color 0.3s;
    -ms-transition:height 0.3s, background-color 0.3s;
    -o-transition:height 0.3s, background-color 0.3s;
}

#text_part2{
    position: absolute;
    width: 32.7rem;
    height: 18.5rem;
    /* background-color: var(--black); */
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2.4rem;
}

#foodname_2 p{
    width: 27.9rem;
    height: 3.5rem;
     font-family: Outfit; 
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.528rem;
    text-align: left;
    /* color: var(--white); */

}
#foodtime_2{
    display: flex;
    justify-content: space-between;
    /* gap: 0.2rem; */
}

#serve_2 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
    
}

#prep_min2 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
}



#recipe_card3{
    position: relative;
    width: 32.65rem;
    height: 42.12rem;
    background-color: transparent;
}

#image3{
    position: absolute;
    width: 27.9rem;
    height: 23.5rem;
    /* background-color: var(--white); */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#anime3{
    position: absolute;
    width: 32.6rem;
    height: 35.1rem;
    background-color: var(--sub-main);
    bottom: 0;
    z-index: 0;
    transition:height 0.3s, background-color 0.3s;
    -webkit-transition:height 0.3s, background-color 0.3s;
    -moz-transition:height 0.3s, background-color 0.3s;
    -ms-transition:height 0.3s, background-color 0.3s;
    -o-transition:height 0.3s, background-color 0.3s;
}

#text_part3{
    position: absolute;
    width: 32.7rem;
    height: 18.5rem;
    /* background-color: var(--black); */
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2.4rem;
}

#foodname_3 p{
    width: 27.9rem;
    height: 3.5rem;
     font-family: Outfit; 
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.528rem;
    text-align: left;
    /* color: var(--white); */

}
#foodtime_3{
    display: flex;
    justify-content: space-between;
    /* gap: 0.2rem; */
}

#serve_3 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
    
}

#prep_min3 p{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    /* color: var(--white); */
    /* background-color: #76ca76; */
}

#benefits{
    position: relative;
    width: 106.5rem ;
    height: 59.7rem;
    background-color: var(--cream);
    display: flex;
}
#ben_image{
    position: absolute;
    width:43.9rem ;
    height: 52.7rem;
    background-color: var(--sub-main);
}
#ben_back{
    position: absolute;
    width: 106.5rem;
    height: 44.5rem;
    background-color: var(--black);
    bottom: 0;
}

