*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
h1, h2{
    font-family: "Outfit", sans-serif;
    font-size: 6.4rem;
}
p{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: normal;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--white);
}
a:link:active, a:visited:active {
    color: var(--white);
  }
body{
    --main:#036230;
    --sub-main:#A0C239;
    --cream:#FFFAE9;
    --white:#fff;
    --black:#0B0B0B;
    
    background-color: var(--main);
}

/* =============================Header================================ */

nav{
    width: 100%;
    height: 11rem;
    position: fixed;
    padding: 0px 187px;
    font-family: "Outfit", sans-serif;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
    z-index: 1;

    & a{
        transition: color 0.4s ease-in-out;
    }

    & .nav-first{
        width: 50.6rem;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
            & #logo{
                width: 10rem;
            }

            & .menu{
                width: 32rem;
                display: flex;
                justify-content:space-between;
                font-size: 1.6rem;
            }
            & .nav-hover{
                position: relative;
            }
            
            & .nav-hover::before{
                transition: 300ms;
                height: 2.5px;
                content: "";
                position: absolute;
                background-color: var(--cream);
                width: 0%;  
                bottom: -8px;           
            }
    
            & .nav-hover:hover::before {
                width: 100%;
              }
    }
    

    & .nav-last{
        width: 16.5rem;
        height: 10rem;
        display: flex;
        align-items: center;
        
        & .access-icons{
            width: 12.4rem;
            display: flex;
            justify-content:space-between;
            align-items: center;
        }
    }
}

.scrolled{
    top: 0;
    width: 100%;
    background-color: var(--cream);
}
.scrolled .menu a{
    color: var(--black);
    font-weight: normal;
}
.nav-hover-black{
    position: relative;
}
.nav-hover-black::before{
    transition: 300ms;
    height: 2.5px;
    content: "";
    position: absolute;
    background-color: var(--black);
    width: 0%;  
    bottom: -8px;           
}

.nav-hover-black:hover::before {
    width: 100%;
  }

header{
    color: var(--white);
    font-family: "Outfit", sans-serif;
    width: 100%;
    height: 100vh;
    padding: 0px 187px;
    
        display: flex;
        justify-content: space-between;

        h2{
            font-size: 2rem;
            color: var(--black);
        }

        & .first{
            padding-top: 22rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 63rem;
            height: 100vh;
            gap: 7rem; 
                
                & .head{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;

                    & .hero-details{
                        width: 100%;
                        height: 20.5rem;
                        padding: 2rem 0;

                        & .heading{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }

                    & .cta-button{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 2.1rem;
                        background-color: var(--cream);
                        width: 16.4rem;
                        height: 3.3rem;
                        border-radius: 0.47rem;

                        & h2{
                            font-size: 1.2rem;
                            font-weight: normal;
                            color: var(--main);
                        }
                        & .cta-arrow{
                            width: "1.552rem";
                        }
                    }
                    & .cta-button:hover{
                        background-color: transparent;
                        border: solid 0.2rem var(--cream);
                        & h2{
                            color: var(--cream);
                        }
                    }
                }
        }

        & .mid{
            height: 100vh;
            background-color: var(--sub-main);
            overflow: hidden;

           
            & .product-wheel{
                height: 75vh;
                width: 25.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: -35%;

                & .prod{
                    height: 50vh;
                    position: absolute;
                    transition: transform 0.8s ease-in-out;
                }
            }
        } 

        & .last{
            padding-top: 22.5rem;
            width: 18.2rem;
            height: 100vh;

            .callToAction{
                height: 70%;
                width: 100%;
                
                display: flex;
                justify-content: center;
                    align-items: center;
                
                & .button-carrier{
                    height: 30rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    position: relative;
            
                    & .arrow{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100%;
                        background-color: var(--cream);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        & #top-arrow{
                            transform: rotate(-90deg);
                        }
                        & #bottom-arrow{
                            transform: rotate(90deg);
                        }
                    }
                    & .arrow:hover{
                        background-color: transparent;
                        border: solid 0.2rem var(--cream);
                        & #top-arrow{
                            transform: rotate(-90deg);
                        }
                        & #bottom-arrow{
                            transform: rotate(90deg);
                        }
                    }
            
                    & .pop-up{
                        width: 16.5rem;
                        height: 12.9rem;
                        color: var(--black);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
            
                        & .popup-data{
                            width: 100%;
                            height: 10.5rem;
                            background-color: var(--cream);
                            border-radius: 0.9rem;
                            padding:1.1rem 1.1rem 2.2rem 1.1rem;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            
                            & #prod-title{
                                font-size: 2rem;
                            }
                            & #prod-price{
                                font-size: 1.2rem;
                            }
            
                            & .prod-descrip{
                                display: flex;
                                justify-content: space-between;
            
                                & .rating{
                                    width: 1.46rem;
                                }
                            }
                        }
            
                        & .plus{
                            width: 2.4rem;
                            height: 2.4rem;
                            background-color: var(--cream);
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                            border: 0.25rem solid var(--main);
                            position: absolute;
                            bottom: 0;
            
                            & #plus{
                                width: 15rem;
                            }
                        }
                    }
                }
            }
          }    
}